<div class="row hotel" *ngFor="let hotel of filteredHotels">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <!-- <nb-card-header>Inline form</nb-card-header> -->
      <nb-card-body>
        <div class="row hotel-body">
          <div class="col-md-4">
            <div class="hotel-img col-sm-6" [style.background-image]="'url(recursos/assets/images/hotels/' + hotel.image + ')'"
                 (click)="selectCamera(hotel)">
            </div>
          </div>
          <div class="col-md-5 text-left">
            <div><h3>{{ hotel.name }}</h3></div>
            <br />
            <ngb-rating rate="{{ hotel.stars }}" [readonly]="true" max=5>
              <ng-template let-fill="fill">
                <span class="star fill" [class.filled]="fill === 100">
                  <i class="ion-android-star" *ngIf="fill === 100"></i>
                  <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                </span>
              </ng-template>
            </ngb-rating>
            <br />
            <div class="hotel-amenity" *ngFor="let amenity of hotel.amenities">
              <img src="recursos/assets/icons/amenities/{{amenity}}.svg" alt="{{amenity}}" height="15" width="15">
            </div>
          </div>
          <div class="col-md-3 text-center">
            <br />
            <div>
              Precio por noche por habitación
            </div>
            <div class="precio">ARS<span>{{ hotel.price }}</span></div>
            <button type="submit" class="btn btn-primary">Ver Hotel</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
