@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .full-width {
    flex: 1;
    min-width: 220px;
  }

  nb-checkbox {
    margin-bottom: 1rem;
  }

  .form-inline > * {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  .hotel-body {
    height: 14rem;
  }

  .hotel-img {
    height: 13rem;
    width: 100%;
    background-size: 100% 100%;
  }

  .precio {
    color: rgb(255, 117, 43);
    font-size: 1.3rem;
  }

  .precio span {
    font-size: 2rem;
  }

  .hotel-amenity {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
