<h5><i class="fa nb-search" [nbPopover]="icon"></i> Nombre del hotel</h5>
<form class="form-row">
  <div class="col">
    <input type="text" [(ngModel)]="hotelTitle" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Ingrese el Nombre del Hotel">
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="buscar()">Aceptar</button>
  </div>
</form>
<hr size="30">
<h5><i class="fa nb-star" [nbPopover]="icon"></i> Estrellas</h5>
<form class="form-row">
  <div class="col">
    <div *ngFor="let maximo of [1,2,3,4,5]">
      <nb-checkbox>
        <ngb-rating rate={{maximo}} [readonly]="true" max={{maximo}}>
          <ng-template let-fill="fill">
            <span class="star fill" [class.filled]="fill === 100">
              <i class="ion-android-star" *ngIf="fill === 100"></i>
              <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
            </span>
          </ng-template>
        </ngb-rating>
      </nb-checkbox>
    </div>
  </div>
</form>
